<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title of the document</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    Content of the document......
    <h1 id="title-group">Trang groups</h1>
</body>

</html>