<% layout('../layouts/master.ejs') %>

<div class="col-11">
    <div class="row">
        <div class="panel-private">
            <div class="area-private">
                <p><img src="/assets/image/private.svg" alt="プライベートグループです" class="rmq-43cd7556" style="width: 15em;"></p>
                <h2 class="title-private">プライベートグループです</h2>
                <p>プライベートグループは、オーナーの許可がないと閲覧、および参加することができません。<br>これより先はアプリをダウンロードしてお楽しみください。</p><p>
                    <a href="https://play.google.com/store/apps?utm_source=apac_med&utm_medium=hasem&utm_content=Feb2317&utm_campaign=Evergreen&pcampaignid=MKT-DR-apac-vn-1003227-med-hasem-ap-Evergreen-Feb2317-Text_Search_SKWS-SKWS%7cONSEM_kwid_43700012166082989_creativeid_113399095505_device_c&gclid=Cj0KCQjwz_TMBRD0ARIsADfk7hTsK89sDno4_paxr9H_d9pCiTNf1ATgC_FvJjobTDTgJRC6wjA_ulAaAjCzEALw_wcB&gclsrc=aw.ds&dclid=COerhKuk79UCFVEavAodS3oCFw" class="address-app"><img src="/assets/image/appstore.svg" alt="App Store"></a>
                    <a href="https://play.google.com/store?hl=en" class="address-app"><img src="/assets/image/playstore.svg" alt="Play Store"></a>
                </p>
            </div>
        </div>
    </div>
</div>