<% layout('../layouts/master.ejs') -%>

<div class="col-11">
    <div class="row">
        <div class="panel-private">
            <div class="area-private">
                <p><img src="/assets/image/private.svg" alt="プライベートグループです" class="rmq-43cd7556" style="width: 15em;"></p>
                <h2 class="title-private">プライベートグループです</h2>
                <p>プライベートグループは、オーナーの許可がないと閲覧、および参加することができません。<br>これより先はアプリをダウンロードしてお楽しみください。</p><p>
                    <a href="#" class="address-app"><img src="/assets/image/appstore.svg" alt="App Store"></a>
                    <a href="#" class="address-app"><img src="/assets/image/playstore.svg" alt="Play Store"></a>
                </p>
            </div>
        </div>
    </div>
</div>