<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%-title%></title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/image/favicon.ico">
    <% include ./partials/css %>
    <%-blocks.css%>
  </head>

  <body>

    <% include ./partials/nav-home %>

    <!-- Page Content -->
    <div class="container-fluid area-content">
      <div class="row justify-content-md-center">
        <%-body -%>
      </div>
    </div>
    <!-- /.container -->
    <% include ./partials/js %>
    <%-blocks.footer%>
  </body>

</html>
